body{
	background: #C7B6B6;
	min-height: 100vh;
	margin: 0;
    font-family: monospace;
}
nav{
	background-color: #434141;
	position: absolute;
	top: 100%;
	left: 5vw;
	width: 90px;
	height: 190px;
	margin: 0;
}
 nav ul {
 	margin: 0 0;
 	padding: 0;
 	list-style: none;
 	text-align: center;
 }
 .navli{
 	padding: 15px 0;
 	font-size: 1.2em;
 	color: white;

 }

.navView{
	position: fixed;
	top:60px;
}
.navSelected{
	background-color: #317164;
	background-size: cover;
}

#starter{
	background-image: url("./panelen/trees.jpg");
	min-height: 100vh;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
}
#skills{
	background-image: url("./panelen/steel.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}
#profiel{
	background-color: #826C6C;
	margin: 0;
}

.overLay{
	background: rgba(122,34,22,0.4);
	min-height: 100vh;
	background-position: absolute;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
}
.centerText{
	text-align: center;
	font-size: 2em;
    color: #ffffff;
	padding-top: 30vh;
	animation-duration: 1s;
	animation-delay: 200ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-name: verschijn;
	opacity: 0;
}
@keyframes verschijn{
	0%{opacity: 0; transform: rotateX(90deg);}
	50%{opacity: 0.5; transform: rotateX(45deg);}
	100%{opacity: 1; transform: rotateX(0deg);}
}
#pointer{
	background-color: #434141;
	width: 90px;
	height: 70px;
	left: 5vw;
	bottom: 0;
	position: absolute;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	
}

#point{
	height: 20px;
	margin: 10px;
	padding: 10px;
	animation-duration: 1s;
	animation-delay: 200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: wiggle;
}
@keyframes wiggle{
	0%{padding-top: 0;}
	50%{padding-top: 10px;}
	100%{padding-top: 0;}
}
a{
	text-decoration: none;
	padding: 5px 5px;
    color: #ffffff;
    border-radius: 25px;
    border:3px solid #ffffff;
}
h1{
	margin-bottom: 5px;
}
img{
	margin: auto;
	border-radius: 20%;
}
section{
	margin: 30px;
}
section ul{
	list-style: none;
	text-align: start;
	border: 1px solid black;
	padding: 25px;
	margin-right: 10px;
}

.container{
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr;
}
.grid2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.grid3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.titel{
	grid-column: span 3;
}
.titel2{
	grid-column: 1/3;
}

#skillBar{
	width: 100%;
	background-color: grey;
}
.skillLvl{
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}
#blogspot{
	height: 350px;
	background-color: #826C6C;
}
.blogs{
	height: 250px;
	width: 200px;
	background-color: grey;
	border-radius: 5px;
}
footer{
	background-color: #434141;
	min-height: 300px;
	margin: 0;
	padding:45px;
}